body {
    font-style: italic;
    color: white;
}
#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(20%);

}

#title-text {
    font-family: monospace;
}

#box-container {
    height: 500px;
    width: 500px;
}

#box-title {
    background-color: teal;
    width: 100%;
    height: 5em;
    text-align: center;
    display: table;
    border-radius: 10%;
    border: double;
    border-color: rgb(1, 2, 94);
}
#box-wide-tall {
    background-color: royalblue;
    width: 50%;
    height: 50%;
    float: left;
}
#box-list-menu {
    background-color: darkgray;
    width: 5em;
    height: 100%;
    text-align: left;
    margin: 3em 0 0 2em;
    color: red;
}