body {
    margin-top: 0; 
    padding-top: 0; 
    margin-bottom: 0; 
    padding-bottom: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-style: italic;
    color: white;
    font-size: 1vw;
    overflow: scroll;
    
    
}

#page-container {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.438);
        
}

#page-container-mobile {
    min-width: 100%;
    min-height: 100%;
    position: relative;
        
}

#my-background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -2;
    filter: brightness(20%);
    transform: scale(1);
}

.fa {
    color: black;
}

#title-text {

    font-optical-sizing: initial;
    font-variant: small-caps;
    font-size: 5em;
    color: rgb(0, 109, 103);
    transform: scale(1);
    margin: 0.5em auto auto auto;
}

#title-text-mobile {
    font-optical-sizing: initial;
    font-variant: small-caps;
    font-size: 10em;
    color: rgb(0, 109, 103);
    transform: scale(1);
}

#box-title {
    width: 100%;
    height: 4em;
    text-align: center;
    display: table;
    border: double;
    border-color: rgb(1, 2, 94);
    border-radius: 5%;
    transform: scale(0.7);
    background-image: url('checkerboard-cross.png');
    filter: brightness(60%);
    
    
}

#box-content-container {
    max-width: 100%;
    max-height: 100%;
    padding: 1em 1em 0 1em;
    transform: scale(0.9);
    text-align: center;
    z-index: -2;

}

#box-content-container-mobile {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    margin-bottom: 1em;
    transform: scale(0.9);
    text-align: center;
    z-index: 1;
}

#box-left-content {
    width: 40%;
    height: 50%;
    float: left;
    margin-top: 2em;
    z-index: 1;
    text-align: left;
    word-wrap: break-word;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
}

#box-right-content {
    width: 40%;
    height: 50%;
    float: right;
    margin-top: 1em;
    margin-right: 2em;
    z-index: 1;
    border-radius: 20%;
    word-wrap: break-word;
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
}
    
#box-top-content {
    
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 1;
    font-size: 2em;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
}

#box-bottom-content {
    
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    z-index: 1;
    font-size: 2em;
}


#box-left-content-about {
    background-color: rgba(0, 0, 0, 0.267);
    width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    z-index: 1;
    border-radius: 10%;
    font-size: 1em;
    float: left;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
}

#box-right-content-about {
    background-color:rgba(0, 109, 103, 0);
    width: 40%;
    height: 50%;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    float: right;
    z-index: 1;
    animation: spinning-picture 10s linear infinite;  
}

#box-content-about-mobile-top {
    background-color: rgba(0, 0, 0, 0.267);
    width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    z-index: 1;
    border-radius: 10%;
    font-size: 1em;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    
}

#box-content-about-mobile-bottom {
    background-color:rgba(0, 109, 103, 0);
    width: 40%;
    height: 50%;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    z-index: 1;
    animation: spinning-picture 10s linear infinite;  
}

@keyframes spinning-picture {
    100%{-webkit-transform:rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);}
}

#box-credits {
    font-family: cursive, monospace;
    bottom: 0;
}

/*DROPDOWN MENU*/

.dropdown {
    display: inline-block;
    position: relative;
    right: 50%;
    margin-right: -100px;
    top: -40%;
    transform: scale(0.7);
    
    
}
  
.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    color:rgb(0, 109, 103);
    
}

.dropdown-content ul {
    color: black;
    text-decoration: none;
    left: 0;
    top: 0;
    position: fixed;
    
}
  
.dropdown:hover .dropdown-content {
    display: table;

}
#dropdown-button-about {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#dropdown-button-home{
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#dropdown-button-log-in{
    width: 100%;
    height: 100%;
    font-size: 2em;

}
#dropdown-button-tablature {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

/* DROPDOWN FOR MOBILE SECTION */

.dropdown-mobile {
    display: inline-block;
    position: relative;
    right: 50%;
    margin-right: -100px;
    top: -40%;
    transform: scale(0.7);
    
    
}
  
.dropdown-content-mobile {
    
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    color:rgb(0, 109, 103);
    
}

.dropdown-content-mobile ul {
    color: black;
    text-decoration: none;
    left: 0;
    top: 0;
    position: fixed;
    
}
  
.dropdown-mobile:hover .dropdown-content {
    display: table;

}
#dropdown-button-about-mobile {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#dropdown-button-home-mobile {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#dropdown-button-log-in-mobile {
    width: 100%;
    height: 100%;
    font-size: 2em;

}
#dropdown-button-tablature-mobile {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
}

#footer-credits {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#profilbild-about {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
    border-radius: 100%;
}

/*Log in attributes */
#box-with-search {
    float: left;
    margin-left: 5em;
    margin-top: 2em;
}

#box-log-in-title {
    width: 100%;
    height: 50%;
    font-size: 3em;
    color:rgb(0, 141, 7)
}

#box-search-artist {
    width: 100%;
    height: 50%;
    margin-top: 5em;
    
}

#search-artist {
    height: 2em;
    font-size: 1.5em;
    border-style: ridge;
    border-width: 0.2em;
}
#search-submit {
    margin-top: 1em;
    font-size: 2em;
    border-style: ridge;
    border-width: 0.2em;
    margin-left: 2em;
}

#box-log-in-email {
    width: 100%;
    height: 50%;
    margin-top: 5em;
}

#box-log-in-password {
    width : 100%;
    height: 50%;
    margin-top: 1em;

}
#e-mail-log-in {
    height: 2em;
    font-size: 1.5em;
    border-style: ridge;
    border-width: 0.2em;
}

#password-log-in {
    height: 2em;
    font-size: 1.5em;
    border-style: ridge;
    border-width: 0.2em;
}

#log-in-submit {
    margin-top: 1em;
    font-size: 2em;
    border-style: ridge;
    border-width: 0.2em;
}

/*Log-in-mobile*/

#box-log-in-title-mobile {
    width: 100%;
    height: 75%;
    font-size: 6em;
    color:rgb(0, 141, 7);
}

#box-log-in-email-mobile {
    width: 100%;
    height: 50%;
    margin-top: 20em;
}

#box-log-in-password-mobile {
    width : 100%;
    height: 50%;
    margin-top: 5em;

}
#e-mail-log-in-mobile {
    height: 2em;
    width: 15em;
    font-size: 5em;
    border-style: ridge;
    border-width: 0.2em;
}

#password-log-in-mobile {
    height: 2em;
    width: 15em;
    font-size: 5em;
    border-style: ridge;
    border-width: 0.2em;
}

#log-in-submit-mobile {
    margin-top: 4em;
    font-size: 7em;
    border-style: ridge;
    border-width: 0.2em;
}


/*SEARCH FUNCTIONS*/
#song-list-div-id {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: right;
}


#song-list-ol-id {
    display: flex;
    flex-wrap: wrap;
    max-height: 40em;
    list-style-position: inside;
}

#song-list-id {
    margin: 1em;
}

#artist-name-id {
    margin: 0.2em auto 0em auto;
    font-size: 4em;
    font-family: cursive, monospace;
    font-weight: bold;   
    text-transform: capitalize;
}

#link-list-id {
    z-index: 3;
}

#link-list-id:link {
    z-index: 3;
    text-decoration: none;
    color: white;
}

#link-list-id:visited {
    text-decoration: none;
    color: gold;
}

#link-list-id:hover {
    font-size: larger;
    z-index: 4;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

#fa-music {
    margin-top: 1em;
    margin-left: 35%;
    color:rgb(85, 85, 109);
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
